<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
  <title>HelmetBuds - Tell Friends, Get Riding Accessories</title>
  <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="HelmetBuds"/>
  <meta property="og:description" content="The ultimate audio experience for riders. Don’t want to leave you all behind. Check out HelmetBuds here" />
  <meta property="og:url" content="<%= root_url %>"/>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @bodyId %>">

<%= yield %>


</body>
</html>
